<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- * Bootstap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- * FontAwsome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- * Custom CSS LINK  -->
    <link rel="stylesheet" href="./CSS/style.css">

    <!-- * Custom CSS LINK  -->
    <link rel="stylesheet" href="./CSS/ejsStyle.css">

    <!-- success ejs css file -->
    <link rel="stylesheet" href="../CSS/success.css">


    <title>
        <%- title %>
    </title>
    <style>
        .far,
        .fas {
            font-size: 8rem;
        }
    </style>
</head>

<body>

    <!-- - Including navbar file from components folder -->
    <%- include('./components/navbar') -%>

        <% if( value=="" ){%>
            <div class="alert alert-danger text-center " role="alert">
                <%= errmsg %>
            </div>
            <%} %>

                <% if(msg !="" ) {%>
                    <div class="alert alert-success text-center " role="alert">
                        <%= msg %>
                    </div>
                    <%} %>

                        <!-- icon -->
                        <div class="container my-3 d-flex justify-content-center">
                            <% if(value !="" ){%>
                                <i class="far fa-check-square successIcon"></i>

                                <%}else{%>
                                    <i class="fas fa-times"></i>
                                    <%} %>

                        </div>


                        <div class="container my-5  d-flex justify-content-center">

                            <a href="/" class="btn successButtons mx-2"> Home </a>
                            <% if( value=="" ){%>

                                <a href="/data" class="btn  mx-2"> Retry </a>
                                <%} else{%>

                                    <a href="/data" class="btn  mx-2 successButtons"> View All User </a>
                                    <%} %>

                                        <% if( value !="" ){%>
                                            <a href="/history" class="btn btn-dark mx-2 successButtons"> Transaction History </a>

                                            <%} %>

                        </div>




                        <!-- - Including footer file from component folder which contain (body closing tag) -->
                        <%- include('./components/footer') -%>